body {
    padding: 0px;
    margin: 0px;
  }
  h6 {
    padding: 5px 0px 5px 5px;
    margin: 0px;
  }
  
  .node {
    /* fill: green; */
    stroke: violet;
    stroke-opacity: inherit;
    stroke-width: 2px;
  }
  
  .link {
    background-color: red;
    stroke: green;
    stroke-opacity: inherit;
    stroke-width: 2px;
  }
  